[Unit]
Description = Start SA-MP Packet Proxy for Live Environment
After = network.target

[Service]
Environment="LIVE_SERVER_PORT=8888"
Environment="LIVE_PROXY_PORT=8889"
Environment="LIVE_SAMP_SERVER_ADDRESS=68.183.239.18"
ExecStart = /root/samp-packet-proxy/run_dev.sh

[Install]
WantedBy = multi-user.target